mixin text-field({ placeholder="", isMasked=false, hasArrow=false })
  - const inputClass = 'text-field__input'
  - const classes = [inputClass]

  if isMasked
    - classes.push(`${inputClass}_masked`)

  if hasArrow
    - classes.push(`${inputClass}_with_arrow`)

  - const fieldPlaceholder = isMasked ? 'ДД.ММ.ГГГГ' : placeholder

  .text-field
    input(class=classes type="text" placeholder=fieldPlaceholder)

    if hasArrow
      .text-field__arrow arrow_forward